@model string
<h1>
    Вы успешно записались на <h2>@Html.DisplayFor(m=> m)</h2>
    
    <br>
    <button class="btn btn-dark">
        <a href="/"> Вернуться на главную страницу </a>
    </button>
</h1>
