# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.WebQueue.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Project\WebQueue_git\WebQueue\WebQueue\src\.idea\.idea.WebQueue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
